<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /orzoj/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule register(\?.*)? index.php?action=register&$1
ErrorDocument 404 /
</IfModule>
