/*
 * $File: style.css
 * $Date: Wed Oct 27 18:28:49 2010 +0800

 This file is part of orzoj

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body
{
	padding: 0;
	border: 0;
	margin: 0;
	font: 16px Verdana, Arial, sans-serif;
	background-color: black; 
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover
{
	border-color: green;
	border-style: dotted;
}

input[type="text"], input[type="password"], textarea
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 2px;
	height: 16px;
	width: 150px;
	float: left;
}

textarea
{
	height: 200px;
}

div
{
	border: 0;
	margin: 0;
	padding: 0;
}

a:link, a:visited
{
	color: black;
	text-decoration: none;
	font-style: italic;
}

a:hover
{
	color: black;
	text-decoration: underline;
	font-style: normal;
}

div#page
{
	width: 960px;
	margin: auto;
	border: 0;
	padding: 0px;
	color: white;
	text-align: center;
}

div#page a:link, div#page a:visited, div#gid-treeview a, div#gidtreeview a:visited
{
	color: white;
	text-decoration: none;
	font-style: italic;
}

div#page a:hover, div#gid-treeview a:hover
{
	color: white;
	background-color: transparent;
	text-decoration: underline;
	font-style: normal;
}

div#show-ajax-info-div
{
	clear: both;
	float: left;
	color: red;
	margin: 15px;
	padding: 5px;
	border: 1px solid white;
}

img
{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
}

img.bgcornerl
{
	clear: both;
	width: 50px;
	height: 50px;
}

img.bgcornerr
{
	float: right;
	width: 50px;
	height: 50px;
}

img.bgtop
{
	height: 50px;
	width: 860px;
	background: url('images/bg_top.jpg') repeat-x;
}

img.bgbottom
{
	height: 50px;
	width: 860px;
	background: url('images/bg_bottom.jpg') repeat-x;
}

img.banner
{
	margin: 10px;
}

div#banner
{
	clear: both;
	float: left;
	width: 960px;
	margin: 10px 0;
	position: relative;
}

div#banner-right
{
	float: right;
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
}

div#user-info
{
	float: right;
	margin: 20px;
}

div#user-options
{
	text-align: left;
}

div#user-options ul
{
	margin: 0;
	padding: 0;
	border: 0;
}

div#user-options li
{
	margin-left: 10px;
}

div#content
{
	clear: both;
	float: left;
	border: 0;
	margin: 0;
	padding: 5px 55px;
	width: 850px;
	background: url('images/bg_content.gif') repeat-y;
}

div.navigator
{
	clear: both;
	max-width: 960px;
	margin: 10px auto;
}

button.in-form
{
	font-size: 12px;
	clear: both;
	margin: auto;
}

div.dialog-button
{
	font-size: 12px;
	clear: both;
	float: right;
}

div.form-checker-result
{
	float: left;
	display: none;
	color: red;
}

div#avatar-browser
{
	display: none;
	position: absolute;
	border-width: 1px;
	border-color: green;
	z-index: 5001;
	overflow: auto;
}

div#avatar-browser-container
{
	float: left;
	min-width: 400px;
	max-width: 600px;
	padding: 10px 40px;
}

div#avatar-browser-overlay
{
	display: none;
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity: 0.8;
	z-index: 5000;
}

div.avatar-img-outline
{
	display: inline;
	border: none;
	margin: 10px;
	width: 65px;
	height: 65px;
	float: left;
	text-align: center;
}

div.avatar-img
{
	height: 50px;
	width: 50px;
}

div.avatar-img:hover
{
	border: 1px solid #0000ff;
	height: 55px;
	width: 55px;
}

div.avatar-browser-nav
{
	clear: both;
	float: right;
	margin: 10px;
	font-size: 12px;
}

div.clearer
{
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
}

div#prob-grp-tree, div#gid-treeview
{
	margin: 0;
	background: transparent;
	overflow: auto;
	text-align: left;
}

div#gid-treeview
{
	float: left;
	height: 350px;
	width: 300px;
}

select#gid-selector-select
{
	float: left;
	height: 350px;
	width: 200px;
	margin-left: 30px;
}

div#gid-selector-grp-desc
{
	height: 18px;
	clear: both;
	float: left;
}

div#prob-grp-tree a:hover
{
	color: #1F1962;
}

h1.prob-navigator-title
{
	font-size: 20px;
	text-align: center;
	color: green;
}

div#prob-container
{
	width: 100%;
	background-image: url(images/bg_problem.gif);
	float: left;
}

div#prob-navigator
{
	margin: 0;
	padding: 5px;
	width: 175px;
	float: left;
	min-height: 200px;
}

label.prob-filter
{
	margin-right: 10px;
}

input.prob-filter
{
	width: 50px;
}

input.prob-filter-input-button
{
	font-size: 12px;
	height: 22px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0;
	border: 0;
}

div#prob-view
{
	padding: 5px 0px 0 5px;
	float: right;
	width: 660px;
}

div#prob-view a:hover
{
	color: #6f6f6f;
}

div#prob-view a:active
{
	color: red;
}

div#prob-view-by-group-title
{
	color: green;
	font-size: 30px;
	font-weight: bold;
}

div#prob-view-by-group-title span
{
	color: blue;
}

div#prob-view-by-group-navigator-bottom
{
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}

form#prob-view-by-group-goto-form
{
	clear: both;
	float: right;
	margin-left: 20px;
}

div#prob-view-single
{
	clear: both;
}

div#prob-view-single-title
{
	color: blue;
	font-size: 30px;
}

div#prob-view-single-subtitle
{
	color: red;
}

div#prob-view-single-subtitle span
{
	color: #02f010;
}

div.prob-view-single-desc-title
{
	font-size: 20px;
	margin-bottom: 10px;
	color: green;
	text-align: left;
}

div#prob-view-single-navigator-top
{
	font-size: 12px;
	float: left;
}

div.prob-view-single-content
{
	clear: both;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

div.prob-view-single-content pre
{
	white-space: normal;
}

div.prob-view-box-container
{
	min-width: 500px;
}

div.prob-view-box-title
{
	color: blue;
	font-size: 25px;
	text-align: center;
}

div.status-filter
{
	float: left;
}

div.status-filter input, div.status-filter select
{
	width: 80px;
	margin-right: 20px;
}

div.status-filter #filter-apply-button
{
	height: 22px;
	font-size: 12px;
	padding: 2px 8px;
}

table.page-table
{
	clear: both;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
}

table.page-table tr, table.page-table th, table.page-table td
{
	border: 1px solid white;
	padding: 3px;
}

tr.page-table-bgcolor1
{
	background-color: #2C253F;
}

tr.page-table-bgcolor2
{
	background-color: #0F0E28;
}

table.page-table tr:hover
{
	background-color: #39424B;
}

table.page-table th
{
	background-color: #070614;
	color: #F0CC10;
	text-decoration: none;
}

div#page a.status-ac:link, div#page a.status-ac:visited
{
	color: #F85D5D;
}

div#page a.status-wa:link, div#page a.status-wa:visited
{
	color: #96E718;
}

div#page a.status-ce:link, div#page a.status-ce:visited
{
	color: #FF04F4;
}

div#page a.status-ac:hover, div#page a.status-wa:hover, div#page a.status-ce:hover
{
	color: #1BF11A;
	text-decoration: underline;
}

table.colorbox-table
{
	border-collapse: collapse;
	margin: 0;
	border: 0;
	padding: 0;
}

table.colorbox-table tr, table.colorbox-table th, table.colorbox-table td
{
	border: 1px solid #C3C3C3;
	padding: 3px;
	text-align: center;
}

table.colorbox-table th
{
	background-color: #E5EECC;
}

table.colorbox-table tr:hover
{
	background-color: #E5EEFF;
}

div#record-detail
{
	border: 1px solid #C3C3C3;
	margin: 3px;
	padding: 3px;
	max-width: 800px;
	max-height: 375px;
	overflow: auto;
}

div#record-source
{
	border: 1px solid #C3C3C3;
	margin: 3px;
	padding: 3px;
	max-width: 800px;
	max-height: 375px;
	overflow: auto;
}

div#status-list-navigate
{
	clear: both;
	float: right;
	margin-top: 20px;
}

form#goto-page-form
{
	float: right;
	margin-left: 20px;
}

div#rank-list-table
{
}

div#rank-title
{
	color: blue;
	font-size: 30px;
	font-weight: bold;
}

form#rank-list-goto-form
{
	float: right;
	margin-left: 20px;
}

div#rank-list-navigator-bottom
{
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}

div.user-info-page
{
	width: 600px;
	float: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div.user-info-self-desc
{
	float: left;
	width: 400px;
	height: 248px;
	overflow: auto;
	border: 1px blue solid;
}

img.user-info-team-img
{
	margin: 3px;
	padding: 3px;
	border: 1px solid blue;
}

div.user-info-field-name
{
	clear: both;
	float: left;
	font-weight: bold;
}

div.user-info-field-value
{
	float: left;
	margin-left: 3px  20px;
}

div.user-info-field-value td
{
	text-align: left;
}

div.contest-list th
{
	min-width: 50px;
}

div.contest-list th a:visited, div.contest-list th a
{
	cursor: pointer;
	color: #F0CC10;
	text-decoration: none;
}

div.contest-list th a:hover
{
	color: #F0CC10;
	text-decoration: underline;
}

div.contest-nav
{
	clear: both;
	float: right;
	margin-top: 20px;
	font-size: 12px;
}

div.contest-nav form
{
	float: left;
}

div.contest-nav input
{
	width: 25px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	border: none;
}

div.contest-nav input:hover
{
	border: none;
}

div#post-tree
{
	background-color: transparent;
	float: left;
	text-align: left;
}

div#post-view-single-subject
{
	color: blue;
	font-size: 30px;
	font-weight: bold;
}

div#post-navigator button
{
	height: 30px;
	font-size: 16px;
	padding: 2px 2px;
	float: left;
}


div.contest-description
{
	clear: both;
	border: green 1px solid;
	overflow: auto;
	width: 700px;
	text-align: left;
	margin: 5px;
	padding: 5px;
}

div.contest-name
{
	clear: both;
	text-align: center;
	color: #de9e9e;
	font-size: 30px;
	margin: 10px;
	text-align: center;
}

div.contest-result
{
	margin: 30px 0px;
	color: red;
}

span.contest-countdown
{
	margin: 0px 20px;
}

div.contest-view-content
{
	text-align: left;
}

